/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .welcome {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .welcome-msg {
      margin-bottom: 20px;
    }
  
    .welcome-description {
      padding: 0 15px;
    }
  }
  

 
@media screen and (max-width: 768px) {




  }


  
@media screen and (max-width: 600px) {

    .social{
        display: none;
    }

    .navigation-bar-ul a {
        font-size: 14px;
        padding: 0;
    }

    .welcome-msg h2{
        font-size: 30px;
    }

    .welcome-msg h1{
        font-size: 60px;
        line-height: 55px;
    }

    .welcome-description p{
        font-size: medium;
    }

    .about-us-link a{
        letter-spacing: 2px;
    }

    .image-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns for smaller screens */
      }
} 